# Virtual environment
.venv/

# PyCharm IDE
.idea/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs and temporary files
*.log
*.tmp

# Coverage reports
.coverage
.coverage.*
coverage.xml

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database files
*.sqlite3

# Other
.DS_Store
Thumbs.db
